<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.DatasetAppendRow" author="SuperMap Desktop .NET 6R PDT" url="www.supermap.com.cn" description="SuperMap.Desktop.DatasetAppendRow">
  <runtime assemblyName="./Plugins/DatasetAppendRow/SuperMap.Desktop.DatasetAppendRow.dll" className="SuperMap.Desktop.DatasetAppendRow._Plugin" loadOrder="25" />

  <toolbox>
    <ribbon>
      <tabs>
        <tab index="15" id="附加功能" label="附加功能" formClass="" visible="true">
          <group index="0" id="数据集" label="数据集"  layoutStyle="vertical" visible="true">
            <button index="1" label="追加各层数据" visible="true" checkState="false" assemblyName="./Plugins/DatasetAppendRow/SuperMap.Desktop.DatasetAppendRow.dll" onAction="SuperMap.Desktop.DatasetAppendRow._CtrlActionDatasetAppendRow"  size="large" showLabel="" showImage="" screenTip="" shortcutKey="" />
          </group>
        </tab>
      </tabs>
    </ribbon>
  </toolbox>

</plugin>